<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <form action="/user/reg" method="post">
        <div>
            用户名<input type="text" name="username">
        </div>
        <div>
            密码&nbsp&nbsp&nbsp&nbsp<input type="password" name="password_1">
        </div>
        <div>
            密码&nbsp&nbsp&nbsp&nbsp<input type="password" name="password_2">
        </div>
        <input type="submit" value="注册">
    </form>
</body>
</html>